/*Anthony Dickerson
CSCI 434 Mastery Assignment
style.css for https://b65cuda.github.io/Website/ */


/*SECTION 1 - APPLIES TO ALL PAGES FOR ITEMS LIKE HEADER/FOOTER
 AND ITEMS I WANT IN A DEFAULT STYLE*/
* {
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-align: center;
}
img {
  width:100%;
}
main {
  max-width: 1200px;
  margin: auto;
}
/*HEADER AREA*/
header {
  width: 100%;
  background-color:saddlebrown;
  text-align: right;   
}
/*Hamburger Menu Toggle*/
header label { 
  display: inline-block;
  color: white;
  font-style: normal;
  font-size: 1.2em;
  padding: 14px 20px;

}
header input {display:none;}
nav { display: none; }
header input:checked ~ nav { display: block; } 

/*Navigation Menu*/
nav {
  background-color:saddlebrown;
  padding: 14px 8px;
}
nav a {
  color: white;
  padding: 14px 8px;
  text-transform: uppercase;
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-top: 1px solid white;
}
nav a:hover {
  background-color: burlywood;
  color: black;
}
@media screen and (min-width: 480px){
  header label, header input { display: none; }
  nav { 
    display: block;
    text-align: right;
  }
  nav a {
    display: inline-block;
    width: auto;
    border-top: none;
  }
}
/*FOOTER AREA*/
footer {
  background-color: saddlebrown;
}
footer a {
  color:white;
}
footer a:hover{
  color:darkgreen;
}
footer p {
  color:#f2f2f2;
  padding: 14px 16px;
  margin: 0;
}

/*SECTION 2 - PAGE SPECIFIC*/
/* ../index.html */

/* ../id.html */
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
/* ../media.html */
/*The video wrap makes YouTube embeds responsive
borrowed from https://css-tricks.com/fluid-width-video/ */
.videowrap {
  position: relative;
  padding-bottom: 56.25%;/*16:9*/
  height: 0;
}
.videowrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* ../links.html */

/* ../faq.html */
  /*This accordion/panel section is what creates the FAQ show/hide
  borrowed from https://www.w3schools.com/howto/howto_js_accordion.asp */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}  
.active, .accordion:hover {
  background-color: #ccc;
}  
.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}  
.active:after {
  content: "\2212";
}  
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

